.cart {
    font-size: 2rem;
}

.countContainer {
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
}

.countContainer__button {
    cursor: pointer;
}
